# Linked List

In [ ]:
class Node:
    def __init__(self, data=None, next=None):
        self.data = data
        self.next = next # pointer

In [7]:
class LinkedList:
    def __init__(self):
        self.head = None
        
    def insert_at_begining(self, data):
        node = Node(data, self.head)
        self.head = node
        
    def print(self):
        if self.head is None:
            print('Linked List is empty')
            return
        
        itr = self.head
        llstr = ''
        while itr:
            llstr += str(itr.data) + '-->'
            itr = itr.next
        print(llstr)
        
    def insert_at_end(self, data):
        if self.head is None:
            self.insert_at_begining(data)
        
        itr = self.head
        while itr.next: itr = itr.next # we have a last el. if we get a Null
        itr.next = Node(data, None)

In [10]:
ll = LinkedList()
ll.insert_at_end(10)
ll.print()

10-->10-->

In [14]:
import pandas as pd

df = pd.DataFrame({
    'date': ['Jan 1', 'Jan 2', 'Jan 3', 'Jan 4', 'Jan 5', 'Jan 6', 'Jan 7', 'Jan 8', 'Jan 9', 'Jan 10'],
    'temperature(F)': [27, 31, 23, 34, 37, 38, 29, 30, 35, 30]
}, index=range(1, 11))

df

      date  temperature(F)
1    Jan 1              27
2    Jan 2              31
3    Jan 3              23
4    Jan 4              34
5    Jan 5              37
6    Jan 6              38
7    Jan 7              29
8    Jan 8              30
9    Jan 9              35
10  Jan 10              30

In [36]:
# df['date'].str.split().str[1]
df.iloc[:7]

    date  temperature(F)
1  Jan 1              27
2  Jan 2              31
3  Jan 3              23
4  Jan 4              34
5  Jan 5              37
6  Jan 6              38
7  Jan 7              29

In [41]:
temps = df.to_numpy().tolist()

In [42]:
temps

[['Jan 1', 27],
 ['Jan 2', 31],
 ['Jan 3', 23],
 ['Jan 4', 34],
 ['Jan 5', 37],
 ['Jan 6', 38],
 ['Jan 7', 29],
 ['Jan 8', 30],
 ['Jan 9', 35],
 ['Jan 10', 30]]

In [48]:
# 1. What was the average temperature in first week of Jan

def return_mean_temp(temps):
    avg_temp = 0
    for el in temps:
        if int(el[0].split()[1]) < 8:
            # print(int(el[0].split()[1]))
            avg_temp += el[1]
    
    return avg_temp / 7
        

return_mean_temp(temps)

31.285714285714285

In [49]:
# 2. What was the maximum temperature in first 10 days of Jan
def find_max_temp(temps):
    max_temp = 0
    for el in temps:
        if max_temp < el[1]: max_temp = el[1]
        
    return max_temp

find_max_temp(temps)

38

In [50]:
# What was the temperature on Jan 9?

for el in temps:
    if int(el[0].split()[1]) == 9: 
        print(el)
        break

['Jan 9', 35]

In [51]:
# What was the temperature on Jan 4?

# def find_temp_day(day, temps):
#     counter = 0 if day < 15 else 15
    
for el in temps:
    if int(el[0].split()[1]) == 4: 
        print(el)
        break

['Jan 4', 34]

In [63]:
def clear_string(string):
    new_string = []
    for char in string.lower():
        if ord(char) >= 97 or ord(char) <= 122:
            new_string.append(char)
            
    return ''.join(new_string)

In [64]:
words_dict = {}

with open('poem.txt') as f:
    while f.readline(): 
        print(f'String: {f.readline()}', end='')
        for word in clear_string(f.readline()):
            if word in words_dict.keys():
                words_dict[word] += 1
            else:
                words_dict[word] = 0

words_dict

String: And sorry I could not travel both
String: To where it bent in the undergrowth;
String: And having perhaps the better claim,
String: Had worn them really about the same,
String: In leaves no step had trodden black.
String: I doubted if I should ever come back.
String: Somewhere ages and ages hence:
String: And that has made all the difference.

{'a': 12,
 'n': 7,
 'd': 9,
 ' ': 25,
 'b': 1,
 'e': 12,
 'o': 10,
 't': 8,
 'r': 8,
 'v': 1,
 'l': 1,
 ',': 2,
 'g': 2,
 'i': 6,
 's': 6,
 '\n': 6,
 'c': 0,
 'u': 0,
 'w': 4,
 'y': 1,
 ';': 0,
 'h': 2,
 'k': 0,
 'p': 0,
 'f': 1,
 '!': 0,
 'â€”': 0}

# Hash tables

In [65]:
class HashTable:

    def __init__(self, capablicity=10):
        self.MAX = capablicity
        self.arr = [[] for i in range(self.MAX)]

    def get_hash(self, key):
        h = 0
        for char in key:
            h += ord(char)
        return h % self.MAX
    
    
    def __getitem__(self, key):
        h = self.get_hash(key)
        for i, el in enumerate(self.arr[h]):
            # print(el[0])
            if el[0] == key:
                return el[1]
    
    def __setitem__(self, key, val):
        h = self.get_hash(key)
        found = False

        for idx, el in enumerate(self.arr[h]):
            if len(el) == 2 and el[0]==key:
                self.arr[h][idx] = (key, val)
                found=True
                if found == True: break
        if not found:
            self.arr[h].append((key, val))
            

    def __delitem__(self, key):
        h = self.get_hash(key)
        for i, el in enumerate(self.arr[h]):
            # print(el[0])
            if el[0] == key:
                del self.arr[h][i]

In [90]:
class HashTable_LP:

    def __init__(self, capablicity=10):
        self.MAX = capablicity
        self.arr = [None for i in range(self.MAX)]

    def get_hash(self, key):
        h = 0
        for char in key:
            h += ord(char)
        return h % self.MAX
    
    
    def __getitem__(self, key):
        h = self.get_hash(key)
        if self.arr[h] is None: return
        prob_range = self.get_prob_range(h)
        for prob_index in prob_range:
            element = self.arr[prob_index]
            if element is None: return
            if element[0] == key: return element[1]
        
    
    def __setitem__(self, key, val):
        h = self.get_hash(key)
        if self.arr[h] is None:
            self.arr[h] = key, val
        else: 
            new_h = self.find_slot(key, h)
            self.arr[new_h] = (key, val)
        
    def get_prob_range(self, index):
        return [*range(index, len(self.arr))] + [*range(0, index)] 
        
    def find_slot(self, key, index):
            prob_range = self.get_prob_range(index)
            for prob_index in prob_range:
                if self.arr[prob_index] is None:
                    return prob_index
                if self.arr[prob_index][0] == key:
                    return prob_index
            raise Exception('Hashmap is full')
                    

    def __delitem__(self, key):
        h = self.get_hash(key)
        del self.arr[h]

In [91]:
t = HashTable_LP()
t['march 6'] = 228
t['march 8'] = 1111
t['march 17'] = 1337
t.arr

[('march 17', 1337),
 ('march 8', 1111),
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ('march 6', 228)]

In [93]:
t['march 6']

228

In [78]:
twww = (1, 2, 3, 4)
tl = [*(twww)]
tl

[1, 2, 3, 4]

# Stack

In [1]:
s = []
s.append('cnn.com')
s.append('cnn.com/world')
s.append('cnn.com/india')
s.append('cnn.com/chine')

In [3]:
s.pop()

'cnn.com/chine'

In [4]:
s

['cnn.com', 'cnn.com/world', 'cnn.com/india']

In [5]:
from collections import deque
stack = deque()

In [7]:
dir(stack)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__copy__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'appendleft',
 'clear',
 'copy',
 'count',
 'extend',
 'extendleft',
 'index',
 'insert',
 'maxlen',
 'pop',
 'popleft',
 'remove',
 'reverse',
 'rotate']

In [10]:
[stack.append(el) for el in s]

[None, None, None]

In [11]:
stack

deque(['cnn.com', 'cnn.com', 'cnn.com/world', 'cnn.com/india'])

In [12]:
stack.pop()

'cnn.com/india'

In [13]:
stack

deque(['cnn.com', 'cnn.com', 'cnn.com/world'])

# Queue

In [94]:
ll1 = [*(2, 3, 4, 5, 6, 8)]
ll1

[2, 3, 4, 5, 6, 8]

In [95]:
ll1.pop()

8

In [96]:
ll1

[2, 3, 4, 5, 6]

In [102]:
ll1.append(10)
ll1

[2, 3, 4, 5, 6, 10]

In [97]:
from collections import deque

In [98]:
l1 = deque()
l1.extend([1, 2, 3, 4, 5])

In [99]:
l1

deque([1, 2, 3, 4, 5])

In [100]:
l1.pop()

5

In [101]:
l1

deque([1, 2, 3, 4])

In [106]:
l1.appendleft(109)

In [107]:
l1

deque([109, 1, 2, 3, 4, 109])

In [109]:
l1.popleft()

109

In [111]:
l1 = deque()

# General tree

In [85]:
class TreeNode:
    def __init__(self, data):
        self.data = data
        self.children = []
        self.parent = None
        
    def add_child(self, child):
        child.parent = self
        self.children.append(child)
    
    def get_level(self):
        level = 0
        p = self.parent
        while p:
            level += 1
            p = p.parent
            
        return level
    
    def print_tree(self):
        spaces = ' ' * self.get_level() * 2
        prefix = spaces + '|--' if self.parent else ''
        print(prefix, self.data, sep='') 
        if self.children:
            for child in self.children:
                child.print_tree()

In [70]:
def build_product_tree():
    root = TreeNode("Electronics")
    
    # Sub cats
    laptop = TreeNode("Laptop")
    cellphone = TreeNode("Cell Phone")
    tv = TreeNode("TV")
    
    
    # Laptop init    
    laptop.add_child(TreeNode("Mac"))
    laptop.add_child(TreeNode("Surface"))
    laptop.add_child(TreeNode("ThinkPad"))
    
    # Cell Phone init
    cellphone.add_child(TreeNode("Iphone"))
    cellphone.add_child(TreeNode("Google Pixel"))
    cellphone.add_child(TreeNode("RealMe"))
    
    
    # TV init
    tv.add_child(TreeNode("Sony"))
    tv.add_child(TreeNode("LG"))
    
    root.add_child(laptop)
    root.add_child(cellphone)
    root.add_child(tv)
    
    
    return root

In [86]:
root = build_product_tree()
root.print_tree()

Electronics
  |--Laptop
    |--Mac
    |--Surface
    |--ThinkPad
  |--Cell Phone
    |--Iphone
    |--Google Pixel
    |--RealMe
  |--TV
    |--Sony
    |--LG

In [67]:
root.get_level()

0

# Binary Search Tree Class

In [119]:
class BinarySearchTreeNode:
    def __init__(self, data):
        self.data = data
        self.left = None
        self.right = None
        
    def add_child(self, data):
        if data == self.data: return
        
        if data < self.data:
            # append to the left
            if self.left: self.left.add_child(data)
            else: self.left = BinarySearchTreeNode(data)
        else:
            # append to the right
            if self.right: self.right.add_child(data)
            else: self.right = BinarySearchTreeNode(data)
            
            
    def in_order_traversal(self):
        '''this method returns a list of elements in a specific order'''
        elements = []
        
        # visit left tree
        if self.left: elements += self.left.in_order_traversal()
        
        # visit base node
        elements.append(self.data)
        
        
        # visit right node
        if self.right: elements += self.right.in_order_traversal()
        
        return elements
    
    def search(self, val):
        '''search(self, val). Check if this value if in binary tree
        
        params:
            val it is a value for search'''
        
        if self.data == val: return True
        
        if val < self.data:
            # val might be in the left subtree
            if self.left: return self.left.search(val)
            else: return False
        
        if val > self.data:
            # val might be in the right subtree
            if self.right: return self.right.search(val)
            else: return False

In [120]:
def build_tree(elements):
    root = BinarySearchTreeNode(elements[0])
    for el in elements[1:]:
        root.add_child(el)
    
    print('Binarytree has been created')
    return root

In [124]:
numbers = [17, 4, 1, 20, 9, 23, 19, 34, 18, 18, 4]
num_tree = build_tree(numbers)
num_tree.in_order_traversal()

Binarytree has been created

[1, 4, 9, 17, 18, 19, 20, 23, 34]

In [125]:
num_tree.search(18)

True